{%  extends 'base.html' %}
{% load static %}

{% block  navlink %}
    <li ><a href="{% url 'info:home' %}">Home</a></li>
    <li class="active"><a href="{% url 'info:login' %}">Login</a></li>
    <li><a href="{% url 'info:register' %}">Registration</a></li>
    <li><a href="{% url 'info:aboutus' %}">AboutUs</a></li>
    <li><a href="{% url 'info:contactus' %}">ContactUs</a></li>
{% endblock %}

{%  block content %}
    <section id="static">
        <div class="container">
            <div class="row">
                <div class="col">&nsc;</div>
                <div class="col">&nsc;</div>
                <div class="col">&nsc;</div>
            </div>
        </div>
    </section>
    <section id="login">
			<div class="container">
				<div class="text-center height-contact-element">
					<h2>LOGIN</h2>
				</div>
				<img class="img-responsive displayed" src="{%  static 'images/short.png' %}" alt="short" />
                <div class="row" >
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <form method="post" role="form" class="well" action="{% url 'info:login' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for field in form %}
                            <div class="col-md-offset-2">
                            <fieldset class="form-group">
                                <label class="form-label custom-labels" for="{{ field.name }}">{{ field.label }}</label>
                                <div class="controls">
                                    {{ field }}
                                    <p class="help-text">{{ field.help_text }} </p>
                                </div>
                            </fieldset>
                            </div>
                        {% endfor %}
                    <div class="col-md-offset-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
			</div>
		</section>

{% endblock %}