
    <li class="active"><a href="{% url 'info:home' %}">Home</a></li>

    {% if  request.user.is_authenticated %}

        {% if request.user.is_worker %}
            <li><a href="{% url 'info:skilllist' %}">Skill</a></li>
            <li><a href="{% url 'info:hired_request' %}">Hire-request</a></li>
            <li><a href="{% url 'info:profile' %}">Profile</a></li>
        {% else %}
            <li><a href="{% url 'info:worker_skill_list' %}">Hire-Worker</a></li>
            <li><a href="{% url 'info:hired_request' %}">Hire-status</a></li>
            <li><a href="{% url 'info:profile' %}">Profile</a></li>
        {% endif %}



        <li><a href="{% url 'info:aboutus' %}">AboutUs</a></li>
        <li><a href="{% url 'info:contactus' %}">ContactUs</a></li>
        <li><a href="{% url 'info:logout' %}">Logout</a></li>

    {% else %}
        <li><a href="{% url 'info:login' %}">Login</a></li>
        <li><a href="{% url 'info:register' %}">Registration</a></li>
        <li><a href="{% url 'info:aboutus' %}">AboutUs</a></li>
        <li><a href="{% url 'info:contactus' %}">ContactUs</a></li>
    {% endif %}



